* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

:root {
  --max-width: 1160px;

  --color-hover: rgba(196, 196, 196, 0.5);
}



body {
  font-family: "Roboto";
  font-style: normal;
  background-color: #E5E5E5;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}


.header {
  position: absolute;
  width: 100%;
  max-width: 1600px;
  height: 80px;
  z-index: 2;
  top: 0;
  background-color: black;
}

.wrapper {
  max-width: var(--max-width);
  /* box-sizing: content-box; */
  margin: 0 auto;
  padding: 0 30px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo {
  position: relative;
  width: 82px;
  height: 52px;
  border: 1px solid #ffffff;
  border-radius: 2px;

  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  padding: 2px;

  text-align: center;

  cursor: pointer;
  color: #ffffff;
  transition: 300ms;
}

.logo:hover {
  opacity: 0.8;
}

.bamboo {
  position: absolute;
  top: 21.34px;
  left: 9.6px;
}

.left-container {
  display: flex;
  gap: 63px;
}

.nav-container {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 58px;
}

.nav-item a {
  color: white;
  font-weight: 500;
  font-size: 16px;
  transition: 300ms;
}

.nav-item a:hover {
  color: #f9804b;
}

.nav-item .nav-item-active {
  color: #f9804b;
}

.right-container {
  font-weight: 500;
  font-size: 16px;
  color: white;
  transition: 300ms;
}

.right-container:hover {
  color: #f9804b;
}

.panda {
  background: url("assets/images/section1_ft.png") center/cover no-repeat;
  height: 780px;
  left: 0px;
  right: 0px;
  top: 0px;
  width: 100%;
  max-width: 100%;
}

.panda-container {
  display: flex;
  align-items: center;
  justify-content: right;
  max-width: var(--max-width);
  height: 100%;
  margin: auto;
}

.panda-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.panda-title {

  max-width: 500px;
  height: 400px;

  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  color: #FFFFFF;

  padding: 6px 0;
  z-index: 2;

}

.text-favorite {
  color: #ffee2e;
}

.orange-button {
  width: 298px;
  height: 54px;

  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);

  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;

  text-transform: uppercase;
  transition: 300ms;
}

.orange-button:active {
  transform: scale(0.9);
}

.orange-button:hover {
  opacity: 0.8;
}

.circle {
  position: absolute;
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 100%;
  z-index: 1;
  top: -12px;
  left: -73px;
}

.panda-button {
  margin: 60px auto 0 auto;
  border-radius: 25px;

}

.backstage {
  position: relative;
  height: 683px;
  padding: 140px 0;
  background-color: #FFFFFF;
}

.backstage-flower {
  position: absolute;
  height: 612px;
  width: 204px;
  top: 12px;
  right: 0;
}

.backstage-wrapper {
  display: flex;
  justify-content: space-between;
  /* max-width: var(--max-width); */
  height: 408px;
  gap: 30px;
}


.backstage-cap>img {
  max-width: 100%;
  height: 100%;
}

.backstage-content {
  max-width: 465px;
}



.backstage-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;

  color: #333b41;
}

.backstage-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

  color: #333b41;
}

.undertitle {
  margin-top: 34px;
}

.backstage-subtitle {
  margin-top: 54px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;

  color: #333b41;
}

.undersubtitle {
  margin-top: 34px;
}

.pets {
  position: relative;
  height: 1146px;
  padding-top: 40px;
  background-color: #FFFFFF;
}

.pets-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(3, 314px); */

  grid-template-rows: repeat(2, 426px);
  /* grid-template-rows: repeat(2, 314px); */

  column-gap: 30px;
  row-gap: 20px;

  height: 872px;
}

.pet-item {
  max-width: 366px;
  max-height: 366px;
  border-radius: 5px;
  border: 1px solid #fa6f32;
  transition: 200ms;
}

.pet-item:hover {
  max-height: 426px;
}

.pet-image {
  max-width: 344px;
  max-height: 344px;
  margin: 10px 10px;
  border-radius: 5px 5px 0 0;
  transition: 300ms;
}

.pet-item:hover .pet-image {
  max-width: 364px;
  max-height: 364px;
  margin: 0;
}

.pet-info {
  position: relative;
  height: 0;
  padding-left: 16px;
  overflow: hidden;
  transition: 200ms;
}

.pet-item:hover .pet-info {
  height: 60px;
  padding-top: 6px;
}

.pet-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: black;
}

.pet-location {
  margin-top: -2px;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: black;
}

.pet-icon-food {
  position: absolute;
  top: 7px;
  right: 9px;
}

.pet-image-left {
  position: absolute;
  left: 0;
  bottom: 0;
}

.pet-image-left-2 {
  display: none;
}

.pet-image-right {
  position: absolute;
  right: 0;
  bottom: 0;
}

.pets-choose-button {
  display: block;
  margin: 80px auto;
  letter-spacing: -1px;
  border-radius: 25px;

}

.pets-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  border-radius: 100%;
  background-color: #f9804b;
  transition: 200ms;
  top: calc(50% - 61px);
}

.pets-button:hover {
  background-color: #9b2e00;
}

.pets-button:active {
  transform: scale(0.9);
  background-color: green;
}

.pets-button-left {
  left: -55px;
}

.pets-button-right {
  right: -115px;
}

.pick {
  height: 1004px;
  padding: 69px 0 100px 0;
  background: linear-gradient(315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%),
    linear-gradient(315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%),
    linear-gradient(315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%);
  opacity: 0.9;
}

.pick-container {
  height: 835px;
  padding: 41px 10px 59px 99px;
  background: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  margin-bottom: 50px;
}

.pick-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.pick-block1 {
  height: 230px;
}

.pick-block2 {
  margin-top: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pick-title {
  font-weight: 400;
  line-height: 58px;
  color: #FE9013;
  font-size: 48px;
  text-align: center;
}

.pick-subtitle {
  width: 850px;
  height: 29px;
  font-weight: 400;
  font-size: 24px;
  margin-top: 30px;
  color: #333B41;
}

.pick-pretext {
  margin-top: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333B41;
}

.pick-text {
  margin-top: 10px;
  /* margin-bottom: 60px; */

  width: 863px;
  height: 42px;

  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333B41;
}


.pick-block-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.pick-works-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 764px;
  height: 244px;
  margin-top: 40px;
}




.pick-works-wrapper>img {
  width: 69px;
  height: 35.08px;
  margin: 64.5px 31px 0 30px
}


.pick-item-image {

  width: 168px;
  height: 168px;
  background: #FFFFFF;
  border: 1px solid orange;
  border-radius: 5px;
  box-sizing: border-box;
}


.pick-icon1 {
  margin: 54px 30px;
}

.pick-icon2 {
  height: 95px;
  width: 85.77px;
  margin: 38px 41px 35px 41.23px;
}

.pick-icon3 {

  margin: 48px 21.25px 48.4px 22px;
}

.pick-item-description {

  margin-top: 30px;
}

.pick-works-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  color: #333B41;
}


.testimonials {
  height: 919px;
  background: #FFFFFF;
  padding-top: 140px;
  position: relative;
}


.testimonials__container {

  width: var(--max-width);
  height: 599px;
  margin: 0 auto;
}

.testimonials__title {

  font-size: 36px;
  font-weight: 400;
  text-align: center;
  line-height: 47px;
  color: #333B41;
  margin-bottom: 47px;
}


.testimonials__body {
  overflow: hidden;
  box-sizing: border-box;

  height: 391px;
  margin: 0 0;
}

.testimonials__row {

  display: flex;
  width: 100%;
  justify-content: space-between;
}

.testimonials__column {
  width: 268px;
  height: 391px;
  border: 0.7px solid transparent;
  background-image: linear-gradient(#f5f7f6, #f5f7f6), linear-gradient(to right bottom, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  border-radius: 20px;
  background-clip: content-box, border-box;
}

.testimonials__card {
  height: 100%;
  padding: 15px 15px 19px 16px;
  color: #767474;
}


.testimonials__about {
  display: flex;
}

.testimonials__logo {
  width: 37px;
  height: 37px;
  margin-right: 10px;
}

.testimonials__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  margin-bottom: 11px;
  align-items: end;
}

.testimonials__name {
  width: 100%;

  grid-column: 1/5;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.testimonials__country {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
  grid-column: 1/3;
}

.testimonials__dot {
  width: 5px;
  height: 18px;
}

.testimonials__dot>img {
  vertical-align: middle;
  text-align: center;
}

.testimonials__day {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
}

.line_scrol {
  display: block;
  margin-top: 21px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.button-testiminials {
  margin-top: 32px;
  border-radius: 5px;
}

.testimonials__text {
  overflow: hidden;
  width: 100%;
  height: 307px;
  /* background-color: red; */
  position: relative;
}


.testimonials__text:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(180deg, transparent, #F1F3F2 50%);
}

.testimonials-image-right {
  position: absolute;
  right: 0;
  bottom: -100px;
}

.footer {
  background: #111115;
  padding: 40px 30px 50px 30px;
  height: 443px;
  width: 100%;
}

.link {
  color: inherit;
  text-underline-offset: 3px;
  text-decoration: underline #FE9013 1px;
}

.footer__container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}


.footer-left_container {
  height: max-content;
  width: min-content;
}

.footer-list {

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.footer-list li {

  margin-top: 10px;
  height: 30px;
  cursor: pointer;
  text-align: start;
  color: #FFFFFF;
}

.footer_img {
  position: relative;
  bottom: -5px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  text-align: center;
  background: var(--color-hover);
  display: inline-block;
  margin-right: 12px;
}

.footer-list a {

  position: relative;
  top: 7px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: inherit;
}

.footer-list img {
  position: relative;
  top: 5px;
  text-align: center;
}


.footer-list li:hover .footer_img {
  background-color: #4B9200;
  color: #4B9200;

}

.footer-list li:hover a {
  color: #4B9200;
}


.button-footer {
  margin-top: 60px;
  margin-bottom: 34px;
  border-radius: 5px;
}


.middle-container {
  margin-left: 101px;
  width: fit-content;
  margin-right: 32px;
}


.footer-right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


.right-container-subtitle {

  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
}

.footer__input {
  width: 228px;
  height: 42px;
  padding: 10px 7px 10px 10px;
  border-radius: 2px;
  border: 0.7px solid orange;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
  background: #111115;
}

.input::placeholder {
  color: #bdbdbd;
  font-size: 16px;
}

.input:focus {
  outline: none;
  border: 0.7px solid green;
}

.input:focus::-webkit-input-placeholder {
  color: #4b9200;
}

.footer-submit {
  width: 118px;
  height: 42px;
  background: #F1F3F2;
  border: 1px solid #333B41;
  border-radius: 5px;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  font-weight: 400;
}

.footer-submit:active {
  transform: scale(0.9);
  border: 1px solid #4B9200;
  color: #4B9200;
}

.right-container-subtitle {
  margin-bottom: 14px;
}

.footer-submit {
  margin-left: 8px;
}


.footer-author {

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.footer-author p {
  font-size: 16px;
  line-height: 130%;
  color: white;
  font-weight: 100;
}

@media (min-width: 1600px) {
  body {
    max-width: 1600px;
    margin: 0 auto;
  }
}

@media (max-width: 1430px) {

  .backstage-flower {
    display: none;
  }

  .pets-container {
    grid-template-columns: repeat(3, 294px);
    grid-template-rows: repeat(2, 354px);
    row-gap: 34px;
  }

  .pet-item {
    max-width: 294px;
    max-height: 294px;
  }

  .pet-image {
    max-width: 274x;
    max-height: 274px;
  }

  .pets-button {
    top: 310px
  }

  .pets-button-right {
    left: 590px;
  }

  .pets-button-left {
    left: 355px;
  }

  .pet-item:hover {
    max-height: 354px;
  }

  .pet-item:hover .pet-image {
    max-width: 294x;
    max-height: 292px;
  }

  .pet-item:hover .pet-info {
    height: 60px;
    padding-top: 6px;
  }
}

@media (max-width: 1160px) {

  .header {
    width: 100%;
  }

  .panda {
    height: 584px;
  }

  .panda-wrapper {
    padding-top: 64px;
    padding-right: 86px;
  }

  .panda-title {
    left: -25px;
    max-width: 400.25px;
    height: 320px;
    font-size: 85px;
  }

  .panda-button {
    margin-top: 53px;
  }

  .circle {
    width: 367px;
    height: 367px;
    top: 15px;
    left: -58px;
  }

  .backstage {
    height: 615px;
    padding: 100px 0;
  }

  .pets {
    height: 950px;
    padding-top: 42px;
  }

  .pets-container {
    height: 742px;
  }

  .pet-image-left {
    display: none;
  }

  .pet-image-left-2 {
    display: block;
    position: absolute;
    left: -192px;
    bottom: 0;
    height: 202px;
  }

  .pet-image-right {
    height: 180px;
  }

  .pets-choose-button {
    display: block;
    margin: 0 auto;
    letter-spacing: -1px;
    border-radius: 25px;
  }

  .pick {
    padding: 30px 30px 50px 30px;
    height: 915px;
  }

  .pick-container {
    height: 835px;
    padding: 30px;
    background: rgba(253, 253, 255, 0.52);
    border-radius: 20px;
    margin-bottom: 50px;
  }

  .pick-pretext {
    margin-top: 20px;
  }

  .pick-block2 {
    margin-top: 30px;
  }

  .pick-works-wrapper {
    margin-bottom: 100px;
  }

  .testimonials__container {
    width: 100%;
    height: 599px;
    margin: 0 auto;
  }

  .testimonials__row {
    justify-content: space-evenly;
  }

  .testimonials-image-right {
    height: 350px;
    bottom: -85px;
  }

  .testimonials__column {
    width: 294px;
    height: 391px;
    border: 0.7px solid transparent;
    background-image: linear-gradient(#f5f7f6, #f5f7f6), linear-gradient(to right bottom, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
    border-radius: 20px;
    background-clip: content-box, border-box;
  }

  .testimonials__hidden {
    display: none;
  }

  .button-testiminials {
    margin-left: 30px;
  }

  .footer__container {
    display: block;
  }

  .footer-left_container {
    height: max-content;
    width: min-content;
  }

  .middle-container {
    position: absolute;
    left: 220px;
    top: 4354px;
  }

  .footer-right-container {
    position: absolute;
    display: inline-block;
    height: 100%;
    max-height: 400px;
    top: 4024px;
    right: 30px;
  }

  .footer-author {
    position: absolute;
    top: 300px;
    right: 0;
  }
}